*{ box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.big-container{
    width: 1515px;
    min-height: 800px;
    margin: 0 auto;
   
}
html{
    scroll-behavior: smooth;
}
.bg-section{
    background-image: url("../img/BG.png");
    background-size:cover;
    background-position:100%;
} 
.girl{
   position: relative;
 

  
}
.oval39{
    display: flex;
    flex-direction: column;
    right: 50px;
    color: #fff;
    position: absolute;
    top: 480px;
    width: 220px;
    height: 220px;
    background: #5454D4;
    border-radius: 50%;
    box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
}
.simple{
  
    margin: 0 auto;
    width: 50px;
    height: 50px;
    margin-top: 15px;
   
}
.con{
    padding-left: 70px;
}
.h39{
    font-size: 70px;
    padding-left: 40px;
}

.bgg{
    z-index: -1;
  position: absolute;
  width: 1615px;
height: 877px;
}
.nav{
   
   display: flex;
    margin-left: 30px;
    padding-top: 15px;

}
.container{
   
width: 1200px;
margin: 0 auto;
}
.nav-list{
    display: flex;
    align-items: center;
    padding-top: 5px;
}
.nav-link{
    color: #000;
    font-size: 16px;
    margin-left: 50px;
}
.nav-link:hover{
    color: #F04037;
}
.clr{
    clear: both;
}
.nav-h2{
    margin-top: 200px;
    color: #19191B;
    width: 580px;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 50px;
}
.nav-p{
    color: #696871;
    font-size: 21px;
    line-height: 39px;
    width: 570px;
    margin-bottom: 50px;
}
.input1{
    width: 374px;
    padding: 10px 0;
    border: 1px solid #fff;
    font-size: 18px;
    color: #696871;
    padding-left: 50px;
    padding-right: 124px;
    outline: none;
    
}
.input-div{
    background: #fff;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    width: 563px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 204px;
}
.iicon{
    position: absolute;
    left: 15px;
    top:23px;
}

.mac{
    position: absolute;
    right: 450px;
    top: 90px;

}
.l-style{
    background: #F04037;
    border: 1px solid #C31A12;
    border-radius: 5px;
    padding: 16px 52px;
    color: #fff;
    outline: none;
}
.s1{
  
    background: #413E65;
    padding: 50px;
    padding-left: 50px;
}
.l-style:hover{
    color: #F04037 ;
    background: #fff;
}
.build_list{
    margin-left: 150px;
}
.build-item{
    
    position: relative;
    width: 395px;
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;

}
.build-img{
    position: absolute;
    top: 45px;
}
.build-header{
    margin-bottom: 20px;
    padding-top: 10px;
    width: 199px;
    color: #19191B;
    font-size: 24px;
    line-height: 28px;
}
.input-link{
    padding: 16px 10px;
    width: 170px;
   
}

.build-p{
    padding-bottom: 10px;
    color: #696871;
    line-height: 28px;
    font-size: 16px;
    width: 260px;
}
.bu-vs{
    margin-left: 100px;
}
.s1 .container{
    padding: 100px 0;
    display: flex;
    align-items: center;
    
}
.build-h3{
    color: #FFFFFF;
    font-size: 60px;
    line-height: 70px;
    width: 507px;
}
.b-p{
    color: rgba(255, 255, 255, 0.702469);
    font-size: 21px;
    line-height: 39px;
    width: 530px;
    margin: 50px 0;
    padding-bottom: 20px;
}
.build-div{
    margin-left: 200px;
}

.human-img{
    position: relative;
}
.human{
position: absolute;
top: -566px;
right: -159px;
}
.human-mac{
position: absolute;
bottom: -235px;
right: 450px;
}
.k-header{
    margin-top: 20px;
    padding-bottom: 50px;
    color: #19191B;
    font-size: 60px;
    line-height: 70px;
    width: 555px;
}
.p-human{
    padding-bottom: 70px;
    color: #696871;
    font-size: 21px;
    line-height: 39px;
    width: 521px;
}
.s2{
    background: #F2F2F2;
    padding: 150px;
    padding-bottom: 191px;
}
.s4{
    background: #F7F7FB;
}
.s4{
    padding: 100px 0;
}
.header-center{
  
    color: #19191B;
    font-size: 60px;
    line-height: 70px;
    width: 449px;
    margin: 0 auto;
    margin-bottom:40px;
}
.s2 {
    background-image: url('../img/IMG.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    
}
.div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.s4-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.s4-list{
    position: relative;
    margin: 20px;
    color: #19191B;
    font-size: 21px;
    line-height: 25px;
    width: 350px;
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    padding:40px 25px ;
}
.s4-list img{
    position: absolute;
    top: 13px;
    left: 13px;
}
.s4-p{
    position: absolute;
    width: 244px;
    top: 28px;
    left: 83px;

}
.s4-list:hover{
    cursor: pointer;
}
.s4-list:hover{
   box-shadow: 0px 32px 34px rgba(65, 62, 101, 0.296766);
   
}
.save-header{
    color: #19191B;
    font-size: 60px;
    line-height: 70px;
    width: 570px;
    margin-bottom: 40px;
}
.p-save{
    color: #696871;
    font-size: 21px;
    line-height: 39px;
    width: 545px;
    margin-bottom: 60px;
}
.save-img{
    position: relative;
}
.girl-mac{
    position: absolute;
    bottom: -230px;
    left: 600px;
}
.s5{
    background: #F2F2F2;
    padding: 200px;
}
.s6{
    background: #F7F7FB;
    padding: 100px;
}
.header-div{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.customer{
    color: #19191B;
    font-size: 60px;
    line-height: 70px;
    width: 531px;
    margin-bottom: 40px;
}
.custom-p{
    color: #696871;
    font-size: 21px;
    line-height: 39px;
    width: 515px;
    margin-bottom: 50px;
}
.customs-item{
margin: 0 auto;
display: flex;
justify-content: center;

}
.customs-list{
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    margin-left: 35px;
    padding:25px ;
}
.customs-p{
    color: #19191B;
    font-size: 21px;
    line-height: 39px;
    width: 415px;
    margin-bottom: 40px;
}
.min-div{
    padding-left: 55px;
    position: relative;
}
h4{
    color: #19191B;
    font-size: 21px;
    line-height: 28px;
    
}
.p-h4{
    color: #696871;
    font-size: 16px;
    line-height: 28px;
}
.ph{
    position: absolute;
    top: 6px;
    left: 0px;
}
.s7 .container{
    margin-top: 50px;
    position: relative;
    padding-left: 650px;
}
.s7{
    background: #413E65;
    padding: 130px;
    padding-top: 200px;
    padding-bottom: 200px;
}
.h-man{
    position: absolute;
    left: 50px;
    top: -80px;
}
.inp-h2{
    color: #FFFFFF;
    font-size: 60px;
    line-height: 70px;
    width: 536px;
    margin-bottom: 40px;
}
.inp-p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 21px;
    line-height: 39px;
    width: 535px;
    margin-bottom: 40px;
}
.input2{
    padding-left: 120px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
}
.input-div2{
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    background:none;
    border: none;
    
}
.inp-link{
    width: 374px;
}
.icn{
    top: 27px;
    left: 30px;

}
.footer{
    background: #F2F2F2;
}
.footer .container{
    display: flex;
    justify-content: space-between;
    padding: 100px;
}
.omg-h4{
    color: #19191B;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 28p
}
.omg-p{
    margin-bottom: 20px;
    color: #696871;
    font-size: 16px;
    line-height: 28px;
    width: 210px;
}
.footer-h4{
    color: #19191B;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
}
.footer-p{
    color: #19191B;
    font-size: 16px;
    line-height: 38px;
    width: 210px;
}
.s1,.s2,.s3,.s4,.s5,.s6,.s7{
    overflow: hidden;
}
.soc{
    margin-top: 30px;
}
.omg{
    width: 270px;
   
}
.chzu-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
@media( max-width:1535px){
    .big-container{
        width: 100%px;
    }
   
    .oval39{
        right: 25px;
    }
   
    .mac{
        position: absolute;
        right: 400px;
        top: 90px;
    
    }
}
@media( max-width:1435px){
    .big-container{
        width: 100%;
    }
    .s2{
        background-image: none;
    }
    
    .human-mac{
        top: -4000px;
    }
    .k-header{
        width: 700px;

    }
    .k50{
        margin-left: 150px;
    }
    
    .p-human{
        width: 700px;
    }
   
 
    .mac{
        position: absolute;
        right: 350px;
        top: 90px;
    
    }
}
@media( max-width:1335px){
    .big-container{
        width: 100%px;
    }
   .s4-p{
       width: 300px;
   }
   .footer .container{
       flex-wrap: wrap;
   }
   
    .build-div{
        width:450px ;
    }
    .build-item{
        width: 350px;
    }
    .build-p{
        width: 200px;
    }
    .build-h3{
        width: 400px;

    }
    .b-p{
        width: 400px;
    }
    .s7 .container{
        padding-left: 550px;
    }
     
    .mac{
        position: absolute;
        right: 300px;
        top: 90px;
    
    }
    .girl-mac{
        top: -7000px;
    }
    .save-header{
        width: 1000px;
    }
    .p-save{
        width: 700px;
    }
}
@media( max-width:1235px){
    .big-container{
        width: 100%;
    }
    .s4-p{
        width: 200px;
    }
 
    .h-man{
        left: -3000px;
    }
    .s7 .container{
        padding-left: 180px;
        
    }
     
 
    .build-h3{
        width: 400px;

    }
    .b-p{
        width: 400px;
    }

 
    .mac{
        position: absolute;
        right: 250px;
        top: 90px;
    
    }
}
@media( max-width:1135px){
    .big-container{
        width: 100%;
    }
    .s4-p{
        width: 150px;
    }
  
}

@media( max-width:1220px){
    .big-container{
        width: 100%px;
    }
    .container{
        width: 1100px;
    }
    .s4-item{
        flex-wrap: wrap;
    }
    .big-container{
        background: #CFDCE1;
    }
    .mac{
        top: -1000px;
    }
    .oval39{
        top: 300px;
        right: 150px;
    }
    .customs-item{
        flex-wrap: wrap;
    }
    .s7 .container{
        padding-left: 100px;
        
    }
    .customs-list{
        margin-bottom: 20px;
    }
    
}
@media( max-width:1120px){
    .big-container{
        width: 100%px;
    }
    .container{
        width: 1000px;
    }
    .save-header{
        width: 700px;
    }
    .p-save{
        width: 650px;
    }
   
  
    .k-header{
        width: 600px;

    }
    .k50{
        margin-left: 50px;
    }
    .p-human{
        width: 600px;
    }
    .build-div{
        margin-left: 40px;
    }
 
 
}
@media( max-width:1020px){
    .big-container{
        width:100%;
    }
    .container{
        width: 900px;
    }
    .s7 .container{
        padding-left: 50px;
        
    }
    .oval39{
        top: -9000px;
       }
    .save-header{
        width: 600px;
    }
    .p-save{
        width: 550px;
    }
    .k-header{
        width: 400px;

    }
    .k50{
        margin-left: 50px;
    }
    .p-human{
        width: 400px;
    }
 
}

@media( max-width:920px){
    .big-container{
        width: 100%;
    }
    .s1 .container{
        flex-wrap: wrap;
    
    }
    .build-list{
        margin-left: 120px;
    }
    .build-div{
        margin-left: 135px;
        margin-top: 40px;
    }
    .container{
        width: 800px;
    }
}
@media( max-width:820px){
    .big-container{
        width: 100%;
    }
    .container{
        width: 700px;
    }
    .save-header{
        width: 500px;
    }
    .p-save{
        width: 450px;
    }
}
@media( max-width:720px){
    .big-container{
        width: 100%;
    }
   .nav-h2{
       width: 100%;
   }
   .nav-p{
       width: 100%;
   }
   .input-div{
       width: 100%;
   }
   .input-link{
       width: 22%;
   }
    .container{
        width: 600px;
    }
    .save-header{
        width: 500px;
    }
   
}
@media( max-width:620px){
    .big-container{
        width: 100%;
    }
    .container{
        width: 500px;
    }
    .save-header{
        width: 500px;
    }
}
@media( max-width:520px){
    .big-container{
        width: 100%;
    }
    .input1{
        text-align: center;
        padding-left: 140px;
    }
    .build-div{
        width: 90%;
     
    }
    .build-header{
        width: 100%;
  
    }
    .b-p{
        width: 250px;
    }
    .build-header{
        width: 150px;
    }
    .build-p{
        width: 90%;
      
    }
    .input-link{
        width: 100%;
    }
    .input-div{
        width: 100%;
        margin-bottom: 0;
    }
    .girl .container{
        padding-bottom: 50px;
    }
    .container{
        width: 400px;
    }
    .save-header{
        width: 500px;
    }
   
}
@media( max-width:420px){
    .big-container{
        width: 100%;
    }
    .container{
        width: 300px;
    }
    .save-header{
        width: 500px;
    }
   
}